<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS_file/styles.css">
    <link rel="icon" href="/imagess/webpage.png" >
    <title>FastAPI with External CSS</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to FastAPI web page!</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur illum et ut blanditiis deleniti voluptate corrupti earum hic doloremque perferendis excepturi dolor totam, adipisci molestiae temporibus? Fugiat eius explicabo voluptatem tempora totam harum, quaerat dolorem, error quo fugit nobis! Eius quas distinctio culpa ullam corporis corrupti consequuntur excepturi, exercitationem iste, atque quisquam doloremque officiis ad velit neque, vel obcaecati praesentium quia magnam recusandae nihil enim cum! Perferendis error dolorem distinctio animi sint doloremque, culpa atque necessitatibus recusandae excepturi possimus veritatis alias veniam sunt, quam consequuntur, sapiente debitis ex omnis eos! Officiis rerum ducimus omnis nam voluptatibus tenetur quibusdam praesentium, aliquam quaerat iure qui incidunt minus adipisci laboriosam id cumque ipsa nulla ut deleniti temporibus eius. Sequi consequatur neque numquam esse nam. Sunt, distinctio?</p>
    </div>
</body>
</html>
