@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: "Bona Nova SC", serif;
    background-color: #35b8b8;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}